.nav {
    width: 100%;
    background: lightgray;
    font-size: 0;

    div {
        display: inline-block;
        cursor: pointer;
        outline: none;
        padding: 5px;
        font-size: 18px;
    }

    div.active {
        background: lightblue;
    }

    div:not(.active):hover {
        background: grey;
    }
}
